.container {
  height: 100vh;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: row;
  background: var(--blue);

}

.container div:first-child {
  max-width: 768px;
  height: 41.25rem;

}

.container div:first-child img {
 position: relative;
 left: -4.25rem;
 top: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section > img {
  width: 22.5rem;
  height: 4.75rem;
  margin-bottom: 6rem;
}

.section strong {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.875rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.section > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.section > div img {
  display: flex;
  flex: 1;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
  align-self: center;
}

.section  > div p {
  width: 15.875rem;
  color: var(--white);
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.section form {
  display: flex;

}

.section input {
  height: 5rem;
  width: 21.25rem;
  padding: 1.4375rem 1.895rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.125rem;
  color: var(--white);
  background: linear-gradient(to right, var(--blue-dark), var(--blue));
  border: 0;
  border-radius: 5px 0 0 5px;
}

.section input::placeholder {
  color: var(--blue);
}

.section button {
  height: 5rem;
  width: 5rem;
  background: var(--green);
  border: 0;
  border-radius: 0 5px 5px 0;
}

.section button > img {
  justify-content: center;
  margin: auto;
}

.section button:disabled {
  background: var(--blue-dark);
  cursor: not-allowed;
}

@media (max-width: 1100px) {
  .section {
    position: relative;
    left: -20rem;
  }
}

@media (max-width: 900px) {
  .container {
    height: 100%;
    width: 100%;
  }

  .container div:first-child {
    height: 100vh;
    position: relative;
    width: 0;
  }

  .section {
    position: relative;
    left: 0;
  }


}

@media (max-width: 735px) {
  .container {
    height: 100vh;
    width: 100vw;
  }

  .container div:first-child {
    display: none;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section > img {
    width: 15rem;
    height:4rem;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
  }

  .section strong {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.875rem;
    color: var(--white);
    margin-bottom: 1.5rem;
  }

  .section > div img {
    display: flex;
    flex: 1;
    width: 2rem;
    height: 2rem;
    align-self: center;
  }

  .section  > div p {
    width: 10rem;
    color: var(--white);
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .section input {
  height: 3rem;
  width: 15rem;
  padding: 1.4375rem 1.895rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  }

  .section button {
    height: 3rem;
    width: 3rem;
  }
}

